:root {
  --default-fonts: 'Avenir', sans-serif;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;

  /* CLEAR */
  margin: 0;
  padding: 0;

  /* FONT */
  font-family: var(--default-fonts);
}

h1 {
  font-size: 1.8em;

  /* CLEAR */
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 10px;
  font-size: 1.6em;

  /* CLEAR */
  margin: 0;
  padding: 0;
}

h3 {
  margin-top: 5px;
  font-size: 1.2em;
  font-style: italic;

  /* CLEAR */
  margin: 0;
  padding: 0;
}

button,
input,
select {
  /* CLEAR */
  margin: 0;
  padding: 0;

  /* FONT */
  font-family: var(--default-fonts);

  font-size: 1em;
  line-height: 1.15;
  text-transform: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}
